.card-style {
    background-color: #3C3E44;
    margin: 10px;
    padding: 0;
    width: 100%;
    box-shadow: 1px 1px 78px 6px rgba(0, 176, 200, 0.33);
    -webkit-box-shadow: 1px 1px 78px 6px rgba(0, 176, 200, 0.33);
    -moz-box-shadow: 1px 1px 78px 6px rgba(0, 176, 200, 0.33);
}

.card-image-list {
    width: 100%;
    border-radius: 50%;
    background-color: red;
}

.image-td {
    background-color: red;
    width: 10%;
}

body {
    margin: 0;
    padding: 0;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.buy-image {
    width: 50%;
    box-shadow: 1px 1px 78px 6px rgba(0, 176, 200, 0.33);
    -webkit-box-shadow: 1px 1px 78px 6px rgba(0, 176, 200, 0.33);
    -moz-box-shadow: 1px 1px 78px 6px rgba(0, 176, 200, 0.33);
}

.main {
    background-color: #272B33;
}

.text {
    color: white;
}

.logo-image {
    width: 100%;
}

.text-title {
    margin: 40px;
    font-size: 70px;
    font-weight: bolder;
    color: #00B0C8;
    text-align: center;

}

.modal-absolute {
    position: absolute;
}

.pay-icon {
    width: 13%;
}



.icons-container {
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 15px;
    width: 100%;
}

.efecty{
    border-radius: 50%;
}
