<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./index.css" />
    <title>Rick n' Morty App</title>
  </head>

  <body>
    <div class="bg-all" id="app">
      <div class="container main">
        <div v-if="isLandPage">
          <!-- USER MENU -->
          <div class="dropdown">
            <button
              class="btn btn-info dropdown-toggle mt-3 float-end"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Mi cuenta
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Mi colección</a></li>
              <li>
                <a
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  class="dropdown-item"
                  href="#"
                  >Comprar creditos</a
                >
              </li>
              <li>
                <a
                  @click="assignCardsToCurrentUser"
                  class="dropdown-item"
                  href="#"
                  >Mis compras</a
                >
              </li>
              <li>
                <a @click="logout" class="dropdown-item bg-danger" href="#"
                  >Cerrar sesión</a
                >
              </li>
            </ul>
          </div>
          <!-- LOGO -->
          <img class="logo-image" src="images/logo.png" alt="logo" />
          <h1 class="text-title">NFT's de Rick n' Morty</h1>

          <!-- CARDS -->
          <div class="row">
            <div class="col-md-6" v-for="char in charactersList">
              <div class="card card-style" style="width: 96%">
                <div class="row no-gutters">
                  <div class="col-sm-5">
                    <img class="card-img" :src="char.image" alt="Card" />
                  </div>
                  <div class="col-sm-7">
                    <div class="card-body">
                      <h3 class="card-title text">{{ char.name }}</h3>
                      <p class="card-text text">
                        {{ char.status }} - {{ char.species }}
                      </p>
                      <h5 class="card-title text">${{ char.price }}</h5>
                      <button
                        v-if="char.cardStatus===
                    'inAuction'"
                        @click="addToCart(char)"
                        class="btn btn-info"
                      >
                        Entrar a subasta
                      </button>
                      <button
                        v-else-if="char.cardStatus===
                    'forSale'"
                        @click="addToCart(char)"
                        class="btn btn-info"
                      >
                        Comprar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- MY CARDS COLLECTION -->
        <div class="row" v-if="isPurchases">
          <div class="dropdown">
            <button
              class="btn btn-info mt-3 float-end"
              type="button"
              @click="isLandPage=true; isPurchases=false"
              aria-expanded="false"
            >
              Volver
            </button>
          </div>
          <div class="image-container">
            <img class="buy-image" src="images/buy.png" alt="logo" />
          </div>

          <h1 class="text-title">Mi historial de compras</h1>
          <h4 class="text">Tarjetas</h4>
          <div class="container">
            <table class="table mt-3">
              <thead>
                <tr class="text">
                  <th scope="col">Card</th>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="char in cardsToShow">
                  <td class="image-td">
                    <img
                      class="card-image-list"
                      :src="char.card.image"
                      alt="photo"
                    />
                  </td>
                  <td class="text">
                    {{ char.card.name }}
                  </td>
                  <td class="text">${{ char.card.price }}</td>
                  <td class="text">
                    {{ char.date }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h4 class="text mt-5">MortyCoins</h4>
          <div class="container">
            <table class="table mt-3">
              <thead>
                <tr class="text">
                  <!-- <th scope="col">Card</th>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Date</th> -->
                </tr>
              </thead>
              <tbody>
                <!-- <tr v-for="char in buyedCards">
                  <td class="image-td">
                    <img
                      class="card-image-list"
                      :src="char.card.image"
                      alt="photo"
                    />
                  </td>
                  <td class="text">
                    {{ char.card.name }}
                  </td>
                  <td class="text">
                    {{ char.card.price }}
                  </td>
                  <td class="text">
                    {{ char.date }}
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
        <!-- BUY CREDITS -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Comprar MortyCoins!
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        Tarjeta de crédito
                        <div class="icons-container">
                          <img
                            src="images/visa.png"
                            alt="Tarjeta de crédito"
                            class="mr-2 pay-icon"
                          />
                          <img
                            src="images/mastercard.png"
                            alt="Tarjeta de crédito"
                            class="mr-2 pay-icon"
                          />
                          <img
                            src="images/amex.png"
                            alt="Tarjeta de crédito"
                            class="mr-2 pay-icon"
                          />
                        </div>
                      </button>
                    </h2>
                    <div
                      id="collapseOne"
                      class="accordion-collapse collapse show"
                      aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <input
                          type="password"
                          id="cardNumber"
                          class="form-control m-2"
                          aria-describedby="passwordHelpBlock"
                          placeholder="Número de tarjeta"
                        />
                        <input
                          type="password"
                          id="titularName"
                          class="form-control m-2"
                          aria-describedby="passwordHelpBlock"
                          placeholder="Nombre del titular"
                        />
                        <input
                          type="password"
                          id="expirationDate"
                          class="form-control m-2"
                          aria-describedby="passwordHelpBlock"
                          placeholder="Fecha de vencimiento (MM/AA)"
                        />
                        <input
                          type="password"
                          id="securityCode"
                          class="form-control m-2"
                          aria-describedby="passwordHelpBlock"
                          placeholder="Código de seguridad"
                        />

                        <button
                          @click="generatePayment"
                          type="button m-2"
                          class="btn btn-info"
                        >
                          Realizar pago
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                      >
                        PayPal
                        <div class="icons-container">
                          <img
                            src="images/paypal.png"
                            alt="Tarjeta de crédito"
                            class="mr-2 pay-icon"
                          />
                        </div>
                      </button>
                    </h2>
                    <div
                      id="collapseThree"
                      class="accordion-collapse collapse"
                      aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <input
                          type="password"
                          id="email"
                          class="form-control m-2"
                          aria-describedby="passwordHelpBlock"
                          placeholder="Correo electrónico"
                        />
                        <input
                          type="password"
                          id="passwordPaypal"
                          class="form-control m-2"
                          aria-describedby="passwordHelpBlock"
                          placeholder="Contraseña"
                        />
                        <button
                          @click="generatePayment"
                          type="button m-2"
                          class="btn btn-info"
                        >
                          Iniciar sesión en PayPal
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        PSE
                        <div class="icons-container">
                          <img
                            src="images/pse.png"
                            alt="Tarjeta de crédito"
                            class="mr-2 pay-icon"
                          />
                        </div>
                      </button>
                    </h2>
                    <div
                      id="collapseTwo"
                      class="accordion-collapse collapse"
                      aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <input
                          type="text"
                          id="namePSE"
                          class="form-control m-2"
                          aria-describedby="passwordHelpBlock"
                          placeholder="Nombre completo"
                        />
                        <input
                          type="text"
                          id="document"
                          class="form-control m-2"
                          aria-describedby="passwordHelpBlock"
                          placeholder="Documento"
                        />

                        <button
                          @click="generatePayment"
                          type="button m-2"
                          class="btn btn-info"
                        >
                          Ir a PSE
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseFour"
                        aria-expanded="false"
                        aria-controls="collapseFour"
                      >
                        Efecty
                        <div class="icons-container">
                          <img
                            src="images/efecty.png"
                            alt="Tarjeta de crédito"
                            class="mr-2 pay-icon efecty"
                          />
                        </div>
                      </button>
                    </h2>
                    <div
                      id="collapseFour"
                      class="accordion-collapse collapse"
                      aria-labelledby="headingFour"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <input
                          type="text"
                          id="convenio"
                          class="form-control m-2"
                          aria-describedby="passwordHelpBlock"
                          placeholder="Convenio 549 213"
                          disabled
                        />

                        <button
                          @click="generatePayment"
                          type="button m-2"
                          class="btn btn-info"
                        >
                          Generar referencia
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancelar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./index.js"></script>
  </body>
</html>
